<footer class="bg-gray-800 text-white py-6 ">
    <div class="container mx-auto flex justify-between items-center mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="text-sm">
        © 2024 By German Tagliaferri 
      </div>
      <div class="flex space-x-4">
        <a href="tel:+16729993070" class="text-gray-400 hover:text-white">
          +1 6729993070
      </a>
        <a href="mailto:germantagli@gmail.com" class="text-gray-400 hover:text-white">Enviar Email</a>
        <a href="https://www.germantagli.com" target="_blank" class="text-gray-400 hover:text-white">Web Site</a>
      </div>
    </div>
  </footer>